<?php if(Mage::getStoreConfig('slider/general/enable')){ ?>
<?php
$slider_items = $this->getCurrentSliderCategory();
$title = $this->getTitleSlider();
?>
    <?php if($slider_items){ ?>
        <div class="slider_category">
            <div class="title_slider">
                <?php if($title){ ?>
                    <h3><?php echo $title; ?></h3>
                <?php } ?>
            </div>
            <div id="slider">
                <?php foreach($slider_items as $item){ ?>
                    <div>
                        <?php if($item->getData('image') != ''){ ?>
                            <a href="<?php echo $item->getData('url'); ?>">
                                <img class="image-slide" alt="<?php echo $item->getData('alt'); ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA).'sm_slider/'. $item->getData('image'); ?>"/>
                                <span class="image-havetext"><?php echo $item->getData('text'); ?></span>
                            </a>
                        <?php }else{ ?>
                            <a href="<?php echo $item->getData('url'); ?>">
                                <h3><?php echo $item->getData('text'); ?></h3>
                            </a>
                        <?php } ?>
                    </div>
                <?php } ?>
            </div>
            <button class="slick-prev" aria-label="previous" data-role="none" type="button" style="display: block;">Previous</button>
            <button aria-label="next" class="slick-next" data-role="none" type="button" style="display: block;">Next</button>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function(){
                jQuery('#slider').slick({
                    speed: 400,
                    fade: true,
                    infinite: true,
                    cssEase: 'linear'
                });
            });
        </script>
    <?php } ?>
<?php } ?>